@import "tailwindcss";

@source "../../../packages/ui/src/**/*.{ts,tsx}";
@source "../../../packages/dev-harness/src/**/*.{ts,tsx}";
@source "../../../packages/data-table/src/**/*.{ts,tsx}";

@theme {
  --color-brand-50:  #ecfdf5;
  --color-brand-100: #d1fae5;
  --color-brand-200: #a7f3d0;
  --color-brand-300: #6ee7b7;
  --color-brand-400: #34d399;
  --color-brand-500: #10b981;
  --color-brand-600: #059669;
  --color-brand-700: #047857;
  --color-brand-800: #065f46;
  --color-brand-900: #064e3b;
}
