# deps
node_modules
.pnpm-store

# build
dist
build
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / os
.DS_Store
.vscode
.idea
*.swp
*.swo

# vite / turbo cache
.vite
.turbo
